<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientId</key>
	<string>nF34iNaGwtB8iTZOM5sK0QxMD-qdnbTUvP9x3kDOnzQ</string>
	<key>ClientSecret</key>
	<string>gGKlHFE1IBGw4s8BwZZ1QZspC0UIYzHxmZ_qUEiz87I</string>
</dict>
</plist>
